<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button> </a>
	<form action="./" method="get">
		日付:<input type="date" name="start_date" value="${start}"></input>～
		<input type="date" name="end_date" value="${end}"></input>
		<input type="submit" value="絞り込み">
	</form>

	<div class="content">
		<div th:each="content : ${contents}">
			ID:<a th:text="${content.id}" ></a><br />
			投稿内容：<a th:text="${content.content}"></a><br />
			<a th:text="${#dates.format(content.createdData, 'yyyy/MM/dd HH:mm:ss')}"></a><br />
			<a th:href="@{/edit/{id}(id=${content.id})}"><button type="button">編集</button></a>
			<form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
				<input type="submit" value="削除" />
			</form><br />

				<div class="comment">
					<form method="post" th:action="@{/addComment/{id}(id=${content.id})}" th:object="${formModel}">
						<input type="text" name="comment" size="20" maxlength="200" /><br />
						<input type="submit" value="返信" /></form>
					<div th:each="comment : ${comments}">
						<a th:if="${content.id == comment.reportId}">
							返信ID:<a th:text="${comment.id}" ></a><br />
							返信内容：<a th:text="${comment.comment}"></a><br />
							<a th:text="${#dates.format(comment.createdData, 'yyyy/MM/dd HH:mm:ss')}"></a><br />
							<a th:href="@{/commentEdit/{id}(id=${comment.id})}"><button type="button">編集</button></a>
							<form th:action="@{/commentDelete/{id}(id=${comment.id})}" th:method="delete">
								<input type="submit" value="削除" />
							</form><br />
						</a>
					</div>
				</div>
		</div>
	</div>
</body>
</html>